.insta{
  color: white;
  font-family: monospace;
  background: purple;
}
p{
  Line-height: 1.3;
  font-family: monospace;
  width: 80;
  margin: auto;
}
h3{
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
}
h1{
  font-family: monospace;
  font-size: 32px;
}
.face{
 font-family: monospace;
  color: white;
  background: blue;
}
.gmail{
 font-family: monospace;
  color: white;
  background: red;
}
button{
 padding: 12px 25px;
 border: none;
 border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  margin:3px;
  font-family: monospace;
}
button:hover{
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.2s;
}
.img{
 display: block;
  height: 150px;
  border-radius: 50%;
  width: 150px;
  margin: 20px auto;
}
body{
 text-align: center;
  font-family: monospace; 
  background: auto;
  color: auto;
  align-items: center;
}
.row{
 display: flex;
  gap: 10px;
  margin: 10px;
  align-items: center;
}
.logo{
 width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
} 
.Dl{
  position: absolute;
  top: 20px;
  right: 20px;
  color: blue;
}
.En{
  color: blue;
}
h2{
 font-weight: bold;
}
.end{
  margin-top: 30px;
}